<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="bottle-intro" class="w3-bar-item w3-button">Bottle Introduction</a>
  <a href="bottle-installation" class="w3-bar-item w3-button">Installation </a>
  <a href="bottle-routing" class="w3-bar-item w3-button">Routing </a>
  <a href="bottle-congen" class="w3-bar-item w3-button">Content Generation </a>
</div>

<div style="margin-left:25%">
  <h1>Installation</h1>
  <p>
    Bottle does not need any external libraries for installation.  <br />
    It does however require Python 2.7 or newer to run bottle applications.  <br />
    Bottle can be downloaded from terminal simply with:
  </p>
  <pre><code class="language-js">
    sudo pip install bottle
  </code></pre>

  <p>
    Note: If you do not already have pip installed you will need to install it with:
  </p>
  <pre><code class="language-js">
    sudo apt install python-pip
  </code></pre>

</div>
