<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/css/prism.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="bottle-intro" class="w3-bar-item w3-button">Bottle Introduction</a>
  <a href="bottle-installation" class="w3-bar-item w3-button">Installation </a>
  <a href="bottle-routing" class="w3-bar-item w3-button">Routing </a>
  <a href="bottle-congen" class="w3-bar-item w3-button">Content Generation </a>
</div>

<div style="margin-left:25%">
  <h1>Introducing Bottle</h1>
  <h2>Introducing Frameworks</h2>
  <p>A web application framework is a piece of software that allows the programmer to create and run web applications. <br />
    A framework makes web development quicker and more convenient through providing basic patterns for building reliable applications. This way they reduce the need for overtly repetitive code.e.g. rewriting some code block each time a new website is created. <br />
    Web application frameworks also allow the programmer to create unique features, being highly customizable.<br />
    Framework functionality involves fundamental operations needed to run web applications:
 </p>
  <ul>
    <li>
      URL routing
    </li>
    <li>
      Input form managing and validation
    </li>

    <li>
      Database connections and data manipulation
    </li>

    <li>
      And more...
    </li>
  </ul>

  <h3>Bottle</h3>
  <p>
    Bottle is a lightweight micro web-framework for the Python language. <br />
    It is perfect for small web applications and rapid prototyping.
  </p>
<p>Reference:</p>
  <p>Official Guide by Express,https://bottlepy.org/docs/dev/tutorial.html</p>
</div>
