<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/css/prism.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="express-intro" class="w3-bar-item w3-button">Express Introduction</a>
  <a href="express-routing" class="w3-bar-item w3-button">Routing </a>
  <a href="express-middleware" class="w3-bar-item w3-button">Middleware </a>
  <a href="express-template" class="w3-bar-item w3-button">Template Engines </a>
  <a href="express-database" class="w3-bar-item w3-button">Database Interation </a>
</div>

<div style="margin-left:25%">
  <h1>Introducing Express</h1>
  <p>Express is the most popular Node web framework, and is the underlying library for a number of other popular Node web frameworks. It provides mechanisms to:</p>
  <ul>
    <li>
      Write handlers for requests with different HTTP verbs at different URL paths (routes).
    </li>

    <li>
      Integrate with "view" rendering engines in order to generate responses by inserting data into templates.
    </li>

    <li>
      Set common web application settings like the port to use for connecting, and the location of templates that are used for rendering the response.
    </li>

    <li>
      Add additional request processing "middleware" at any point within the request handling pipeline.
    </li>
  </ul>
  <p>
    While Express itself is fairly minimalist, developers have created compatible middleware packages to address almost any web development problem. There are libraries to work with cookies, sessions, user logins, URL parameters, POST data, security headers, and many more. You can find a list of middleware packages maintained by the Express team at Express Middleware (along with a list of some popular 3rd party packages).
  </p>
    <br>
  <p>Reference:</p>
  <p>Express/Node introduction, https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Introduction</p>
</div>
