<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="express-intro" class="w3-bar-item w3-button">Express Introduction</a>
  <a href="express-routing" class="w3-bar-item w3-button">Routing </a>
  <a href="express-middleware" class="w3-bar-item w3-button">Middleware </a>
  <a href="express-template" class="w3-bar-item w3-button">Template Engines </a>
  <a href="express-database" class="w3-bar-item w3-button">Database Interation </a>
</div>

<div style="margin-left:25%">
  <h1>Middleware</h1>
  <h2>Overview</h2>
  <p>
    Middleware functions are functions that have access to the request object (req), the response object (res), and the next function in the application’s request-response cycle. The next function is a function in the Express router which, when invoked, executes the middleware succeeding the current middleware.
  </p>

  <p>Middleware functions can perform the following tasks:</p>
  <ul>
    <li>
      Execute any code.
    </li>
    <li>
      Make changes to the request and the response objects.
    </li>
    <li>
      End the request-response cycle.
    </li>
    <li>
      Call the next middleware in the stack.
    </li>
  </ul>

  <p>
    If the current middleware function does not end the request-response cycle, it must call next() to pass control to the next middleware function. Otherwise, the request will be left hanging.
  </p>

  <h2>Example</h2>
  <p>
    Here is an example of a simple “Hello World” Express application. The remainder of this article will define and add three middleware functions to the application: one called myLogger that prints a simple log message, one called requestTime that displays the timestamp of the HTTP request, and one called validateCookies that validates incoming cookies.
  </p>
  <div class="w3-code notranslate htmlHigh">
<pre><code class="language-js">var express = require('express')
  var app = express()

  app.get('/', function (req, res) {
    res.send('Hello World!')
  })

  app.listen(3000)
  </code></pre></div>
  <h3>Middleware function myLogger</h3>
  <p>Here is a simple example of a middleware function called “myLogger”. This function just prints “LOGGED” when a request to the app passes through it. The middleware function is assigned to a variable named <code>myLogger</code>.</p>
  <div class="w3-code notranslate htmlHigh">
<pre><code class="language-js">var myLogger = function (req, res, next) {
    console.log('LOGGED')
    next()
  }
  </code></pre></div>

  <p>To load the middleware function, call <code>app.use()</code>, specifying the middleware function.
  For example, the following code loads the <code>myLogger</code> middleware function before the route to the root path (/).</p>
  <div class="w3-code notranslate htmlHigh">
<pre><code class="language-js">var express = require('express')
  var app = express()

  var myLogger = function (req, res, next) {
    console.log('LOGGED')
    next()
  }

  app.use(myLogger)

  app.get('/', function (req, res) {
    res.send('Hello World!')
  })

  app.listen(3000)
  </code></pre></div>

  <p>Every time the app receives a request, it prints the message “LOGGED” to the terminal.</p>
  <p>The order of middleware loading is important: middleware functions that are loaded first are also executed first.</p>
  <p>If <code>myLogger</code> is loaded after the route to the root path, the request never reaches it and the app doesn’t print “LOGGED”, because the route handler of the root path terminates the request-response cycle.</p>
  <p>The middleware function <code>myLogger</code> simply prints a message, then passes on the request to the next middleware function in the stack by calling the <code>next()</code> function.</p>
  <h3>Middleware function requestTime</h3>
  <p>Next, we’ll create a middleware function called “requestTime” and add a property called <code>requestTime</code>
  to the request object.</p>
  <div class="w3-code notranslate htmlHigh">
<pre><code class="language-js">var requestTime = function (req, res, next) {
    req.requestTime = Date.now()
    next()
  }
  </code></pre></div>
  <p>The app now uses the <code>requestTime</code> middleware function. Also, the callback function of the root path route uses the property that the middleware function adds to <code>req</code> (the request object).</p>
  <div class="w3-code notranslate htmlHigh">
<pre><code class="language-js">var express = require('express')
  var app = express()

  var requestTime = function (req, res, next) {
    req.requestTime = Date.now()
    next()
  }

  app.use(requestTime)

  app.get('/', function (req, res) {
    var responseText = 'Hello World!&lt;br&gt;'
    responseText += '&lt;small&gt;Requested at: ' + req.requestTime + '&lt;/small&gt;'
    res.send(responseText)
  })

  app.listen(3000)
  </code></pre></div>
  <br>
  <p>Reference:</p>
  <p>Official Guide by Express, https://expressjs.com/en/guide/writing-middleware.html</p>
</div>
