<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="express-intro" class="w3-bar-item w3-button">Express Introduction</a>
  <a href="express-routing" class="w3-bar-item w3-button">Routing </a>
  <a href="express-middleware" class="w3-bar-item w3-button">Middleware </a>
  <a href="express-template" class="w3-bar-item w3-button">Template Engines </a>
  <a href="express-database" class="w3-bar-item w3-button">Database Interation </a>
</div>

<div style="margin-left:25%">
  <h1>Using template engines with Express</h1>
  <p>A template engine enables you to use static template files in your application. At runtime, the template engine replaces variables in a template file with actual values, and transforms the template into an HTML file sent to the client. This approach makes it easier to design an HTML page.

  Some popular template engines that work with Express are Pug, Mustache, and EJS. The Express application generator uses Jade as its default, but it also supports several others.
  </p>
  <h2>Example</h2>
  <p>Most templates engines can be used in the following way:</p>
  <div class="w3-code notranslate htmlHigh">
  <pre><code class="language-js">async function cookieValidator (cookies) {
    app.get('/', function (req, res) {
    res.render('index', { title: 'Hey', message: 'Hello there!' })
  })
  </code></pre></div>
  <p>When you make a request to the home page, the index.pug file will be rendered as HTML.</p>
  <p>Note: The view engine cache does not cache the contents of the template’s output, only the underlying template itself. The view is still re-rendered with every request even when the cache is on.
  </p>

  <br>
  <p>Reference:</p>
  <p>Official Guide by Express, https://expressjs.com/en/guide/using-template-engines.html</p>
</div>

