<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/lib/w3schools23.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="html-home" class="w3-bar-item w3-button">HTML Home</a>
  <a href="html-introduction" class="w3-bar-item w3-button">HTML Introduction</a>
  <a href="html-basic" class="w3-bar-item w3-button">HTML Basic</a>
  <a href="html-elements" class="w3-bar-item w3-button">HTML Elements</a>

</div>

<div style="margin-left:25%">
 <h1>HTML Elements</h1>
  <p>The HTML element is everything from the start tag to the end tag:</p>
    <br>
  <h3>&lt;tagname&gt;Content goes here...&lt;/tagname&gt;</h3>
    <br>
  <p>Examples of some HTML elements:</p>
    <br>
  <h3>&lt;h1&gt;My First Heading&lt;/h1&gt;</h3>
  <h3>&lt;p&gt;My first paragraph.&lt;/p&gt;</h3>
    <br>

  <p>Some HTML elements have no content (like the &lt;br&gt; element).</p>
  <p>These elements are called empty elements.</p>
  <p>Empty elements do not have an end tag!</p>
    <br>
  <h2>Nested HTML Elements</h2>
  <p>HTML elements can be nested (this means that elements can contain other elements).</p>
  <p>All HTML documents consist of nested HTML elements.</p>
  <p>The following example contains four HTML elements (&lt;html&gt;, &lt;body&gt;, &lt;h1&gt; and &lt;p&gt;):</p>
  <h4>Example</h4>
  <div class="w3-code notranslate htmlHigh">
     &lt;!DOCTYPE html&gt;<br>
     &lt;html&gt;<br>
     &lt;body&gt;<br>
    <br>
     &lt;h1&gt;My First Heading&lt;/h1&gt;<br>
     &lt;p&gt;My first paragraph.&lt;/p&gt;<br>
    <br>
     &lt;/body&gt;<br>
     &lt;/html&gt;
    </div>
  <h4>Example Explained</h4>
    <p>The &lt;html&gt; element is the root element and it defines the whole HTML document.</p>
    <p>It has a start tag &lt;html&gt; and an end tag &lt;/html&gt;.</p>
    <p>Then, inside the &lt;html&gt; element there is a &lt;body&gt; element:</p>
    <div class="w3-code notranslate htmlHigh">
     &lt;body&gt;<br>
    <br>
     &lt;h1&gt;My First Heading&lt;/h1&gt;<br>
     &lt;p&gt;My first paragraph.&lt;/p&gt;<br>
    <br>
     &lt;/body&gt;<br>
    </div>
    <p>The &lt;body&gt; element defines the document's body.</p>
    <p>It has a start tag &lt;body&gt; and an end tag &lt;/body&gt;.</p>
    <p>Then, inside the &lt;body&gt; element there are two other elements: &lt;h1&gt; and &lt;p&gt;:</p>
    <div class="w3-code notranslate htmlHigh">
     &lt;h1&gt;My First Heading&lt;/h1&gt;<br>
     &lt;p&gt;My first paragraph.&lt;/p&gt;<br>
    </div>
    <p>The &lt;h1&gt; element defines a heading.</p>
    <p>It has a start tag &lt;h1&gt; and an end tag &lt;/h1&gt;:</p>
    <div class="w3-code notranslate htmlHigh">
     &lt;h1&gt;My First Heading&lt;/h1&gt;<br>
    </div>
    <p>The &lt;p&gt; element defines a paragraph.</p>
    <p>It has a start tag &lt;p&gt; and an end tag &lt;/p&gt;:</p>
    <div class="w3-code notranslate htmlHigh">
     &lt;p&gt;My first paragraph.&lt;/p&gt;<br>
    </div>


    <br>
  <h2>Never Skip the End Tag</h2>
  <p>Some HTML elements will display correctly, even if you forget the end tag:</p>
  <h4>Example</h4>
  <div class="w3-code notranslate htmlHigh">
      &lt;html&gt;<br>
      &lt;body&gt;<br>
      <br>
      &lt;h1&gt;My First Heading<br>
      &lt;p&gt;My first paragraph.<br>
      <br>
      &lt;/body&gt;<br>
      &lt;/html&gt;
    </div>
  <h3>However, never rely on this! Unexpected results and errors may occur if you forget the end tag!</h3>


    <br>
  <h2>Empty HTML Elements</h2>
  <p>HTML elements with no content are called empty elements.</p>
  <p>The &lt;br&gt; tag defines a line break, and is an empty element without a closing tag:</p>
  <h4>Example</h4>
  <div class="w3-code notranslate htmlHigh">
      &lt;p&gt;This is a &lt;br&gt; paragraph with a line break.&lt;/p&gt;
    </div>
    <br>
  <h2>HTML is Not Case Sensitive</h2>
  <p>HTML tags are not case sensitive: &lt;P&gt; means the same as &lt;p&gt;.</p>


</div>
