<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/css/prism.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="html-home" class="w3-bar-item w3-button">HTML Home</a>
  <a href="html-introduction" class="w3-bar-item w3-button">HTML Introduction</a>
  <a href="html-basic" class="w3-bar-item w3-button">HTML Basic</a>
  <a href="html-elements" class="w3-bar-item w3-button">HTML Elements</a>
</div>

<div style="margin-left:25%">
  <h1>Introducing HTML</h1>
  <p>HTML is the universal markup language for the Web. HTML lets you format text, add graphics, create links, input forms, frames and tables, etc., and save it all in a text file that any browser can read and display.</p>
  <br>
  <h3>Basic HTML Example</h3>
    <div class="w3-code notranslate htmlHigh">
      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
      &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;This is a Heading&lt;/h1&gt;<br>&lt;p&gt;This is a paragraph.&lt;/p&gt;<br><br>
      &lt;/body&gt;<br>&lt;/html&gt;
    </div>
</div>
