<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/css/prism.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="css-home" class="w3-bar-item w3-button">CSS Home</a>
  <a href="css-introduction" class="w3-bar-item w3-button">CSS Introduction</a>
  <a href="css-syntax" class="w3-bar-item w3-button">CSS Syntax</a>
  <a href="css-selectors" class="w3-bar-item w3-button">CSS Selectors</a>
  <a href="css-how" class="w3-bar-item w3-button">CSS How To Add</a>
</div>

<div style="margin-left:25%">
  <h1>Introducing CSS</h1>
  <p>CSS is the language we use to style an HTML document.</p>
  <p>CSS describes how HTML elements should be displayed.</p>
  <p>This tutorial will teach you CSS from basic to advanced.</p>
  <br>
  <h2>CSS Example</h2>
  <div class="w3-code notranslate htmlHigh">
    body {<br>
      background-color: lightblue;<br>
    }<br>
    <br>
    h1 {<br>
      color: white;<br>
      text-align: center;<br>
    }<br>
    <br>
    p {<br>
      font-family: verdana;<br>
      font-size: 20px;<br>
    }
  </div>
  <br>
  <p>Reference:</p>
  <p>CSS tutrial, https://www.w3schools.com/css</p>
</div>
