

<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="/html-home" class="w3-bar-item w3-button">Home</a>
  <a href="/html-introduction" class="w3-bar-item w3-button">Html Introduction</a>
  <a href="/html-basic" class="w3-bar-item w3-button">Html Basics</a>
</div>

<div style="margin-left:25%">
  <div class="w3-example">
    <h3>Example</h3>
    <p>Code your first html page hear!</p>
    <div class="w3-code notranslate htmlHigh">
      &lt;!DOCTYPE html&gt;<br>
      &lt;html&gt;<br>&lt;head&gt;<br>&lt;title&gt;Page Title&lt;/title&gt;<br>
      &lt;/head&gt;<br>&lt;body&gt;<br><br>&lt;h1&gt;This is a Heading&lt;/h1&gt;<br>&lt;p&gt;This is a paragraph.&lt;/p&gt;<br><br>
      &lt;/body&gt;<br>&lt;/html&gt;
    </div>
  </div>
</div>
