<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="js-intro" class="w3-bar-item w3-button">JavaScript Introduction</a>
  <a href="js-syntax" class="w3-bar-item w3-button">Syntax and Variables </a>
  <a href="js-statements" class="w3-bar-item w3-button">Statements </a>
  <a href="js-dates" class="w3-bar-item w3-button">Dates </a>
  <a href="js-comparison" class="w3-bar-item w3-button">Comparisons </a>
</div>

<div style="margin-left:25%">
  <h1>Comparisons</h1>
  <p>
    These are used to test an expression to be True or False.  <br />
    Here are the comparison operators:
  </p>
  <ul>
    <li>
      == : equal to
    </li>
    <li>
      === : equal type and value
    </li>
    <li>
      != : not equal
    </li>
    <li>
      !== : not equal value or not equal type
    </li>
    <li>
      > : greater than
    </li>
    <li>
      >= : greater than or equal to
    </li>
    <li>
      < : less than
    </li>
    <li>
      <= : less than or equal to
    </li>
  </ul>

  <h2>Logical Operators</h2>
  <p>
    Logical operators handle the logic between variables/ values.
  </p>
  <ul>
    <li>
      && : and
    </li>
    <li>
      || : or
    </li>
    <li>
      ! : not
    </li>
  </ul>

  <h3>Conditional</h3>
  <p>
    This operator assigns a value to a variable dependant on some condition. <br />
    Syntax: someVariable = (condition) ? value 1: value 2
  </p>
  <pre><code class="language-js">
    var speeding = (speed <=60) ? "No":"Yes";
  </code></pre>
  <p>
    if the condition (speed <= 60) is true, then value 1 will be stored ("No"), else value 2 will be stored ("Yes").
  </p>
<br>
  <p>Reference:</p>
  <p>Official Guide by Express, https://www.w3schools.com/js/js_dates.asp
w3schools.com/js/js_comparisons.asp</p>
</div>
