<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/css/prism.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="js-intro" class="w3-bar-item w3-button">JavaScript Introduction</a>
  <a href="js-syntax" class="w3-bar-item w3-button">Syntax and Variables </a>
  <a href="js-statements" class="w3-bar-item w3-button">Statements </a>
  <a href="js-dates" class="w3-bar-item w3-button">Dates </a>
  <a href="js-comparison" class="w3-bar-item w3-button">Comparisons </a>
</div>

<div style="margin-left:25%">
  <h1>Introducing JavaScript</h1>
  <p>JavaScript is a text-based programming language that allows for the ability to make web pages interactive. Whereas HTML and CSS are languages that allow for style and structure within a web page, JavaScript allows for web pages to have interactive elements that engage the user. JavaScript allows you to:</p>
  <ul>
    <li>
      Create dynamically updating content.
    </li>

    <li>
      Control multimedia and animate images.
    </li>

    <li>
      Run code in response to certain events occurring on a web page.
    </li>

    <li>
      Make a website a lot more interactive and engaging for the user.
    </li>
  </ul>
  <p>
    JavaScript is run in order, from top to bottom. This means that the programmer must be careful of the order of things such that something is not referenced before it is declared, e.g. using a function before it is made. This would return an error and crash the code. This makes JavaScript an interpreted language. JavaScript is also a dynamic language meaning it has the ability to update the display of a web page to show different things reacting to different events. A web page without this ability is referred to as static and shows the same content constantly.
  </p>
</div>
