<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="js-intro" class="w3-bar-item w3-button">JavaScript Introduction</a>
  <a href="js-syntax" class="w3-bar-item w3-button">Syntax and Variables </a>
  <a href="js-statements" class="w3-bar-item w3-button">Statements </a>
  <a href="js-dates" class="w3-bar-item w3-button">Dates </a>
  <a href="js-comparison" class="w3-bar-item w3-button">Comparisons </a>
</div>

<div style="margin-left:25%">
  <h1>Statements</h1>
  <p>
    A programming instruction is called a statement.
    in javaScript semicolons ; separate executable statements.
  </p>
  <pre><code class="language-js">
    var x, y, z;    // Statement 1
    x = 5;          // Statement 2
    y = 6;          // Statement 3
    z = x + y;      // Statement 4
  </code></pre>
<p>Reference:</p>
  <p>Official Guide by Express, https://www.w3schools.com/js/default.asp
https://www.w3schools.com/js/js_statements.asp</p>

<br>
  <p>Reference:</p>
  <p>JavaScript tutrial, https://www.w3schools.com/javascript</p>
</div>
