<link rel="stylesheet" href="/css/w3school.css">
<link rel="stylesheet" href="/css/prism.css">
<link rel="stylesheet" href="/lib/w3schools23.css">

<div class="w3-sidebar w3-bar-block" style="width:25%">
  <a href="js-intro" class="w3-bar-item w3-button">JavaScript Introduction</a>
  <a href="js-syntax" class="w3-bar-item w3-button">Syntax and Variables</a>
  <a href="js-statements" class="w3-bar-item w3-button">Statements </a>
  <a href="js-dates" class="w3-bar-item w3-button">Dates </a>
  <a href="js-comparison" class="w3-bar-item w3-button">Comparisons </a>
</div>

<div style="margin-left:25%">
  <h1>Syntax and Variables</h1>
  <p>
    Syntax is a set of rules that defines the correctly structured statements/ expressions in a language, e.g. JavaScript requires you to declare, assign and compute variables in that order. JavaScript has two kinds of variables:
  </p>
  <ul>
    <li>
      Fixed Values - Literals
    </li>
    <li>
      Variable Values - Variables
    </li>
  </ul>

  <h2>Literals</h2>
  <p>
    String literals are text and must simply be written within single or double quotes.<br />
    Number literals are written with/without decimals.
  </p>

  <h2>Variables</h2>
  <p>
    Variables are used to store values that are subject to vary in the future.<br />
    JavaScript uses var as the keyword to declare one or more variables. They are then assigned with an equals sign.<br />
    A declared variable will start with an undefined value. Redeclaring a variable will not lose an already stored value. <br />
    However, these variables must follow a syntax:
  </p>
  <ul>
    <li>
      the First character must be a letter, or an underscore (_), or a dollar sign ($). (Numbers are not allowed)
    </li>
    <li>
      Other characters may be letters, digits, underscores, or dollar signs.
    </li>
  </ul>

  <pre><code class="language-js">
    var x, y;
    x = 5;
    y = 6;
  </code></pre>

  <h3>Note</h3>
  <p>
    JavaScript is case sensitive.<br />
    JavaScript programmers tend to use lower camel case. i.e. javaScript, camelCase, etc.
  </p>

  <br>
  <p>Reference:</p>
  <p>JavaScript tutrial, https://www.w3schools.com/javascript</p>
</div>
